body {
    background-color: aliceblue;
}

.card-login {
    padding: 5px 0 0 0;
    width: 350px;
    margin: 0 auto;
}

.btn {
    max-width: 200px;
    background-color: rgb(83, 122, 182);
}

.btn:hover {
    background-color: white;
    color: rgb(83, 122, 182);
}


/* Barra de navegação
-----------------------------*/

header {
    padding: 40px 0px;
    background: rgb(83, 122, 182);
}

h1 {
    font-weight: 900;
    letter-spacing: -0.05em;
    margin-bottom: 30px;
    color: white;
    margin: auto 300px;
}

h3 {
    color: rgb(83, 122, 182);
    font-weight: 900;
}

#res {
    margin-left: 4px;
    max-width: 300px;
    border: solid 1.5px bisque;
    background-color: rgb(83, 122, 182);
    color: white;
}

#divComent {
    margin: 4px;
    max-width: 275px;
}

#login {
    background-color: rgb(83, 122, 182);
    color: white;
    font-weight: bold;
}

.pdiv {
    display: inline;
    border-radius: 10%;
    background-color: rgb(83, 122, 182);
    font-weight: 900;
    margin: 2px;
    color: white;
    max-width: 20px;
}